{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
{% if user.is_authenticated %}

<h1>Hello World</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
{% else %}
<h1>Login</h1>

<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" name="username", placeholder="david" Username" required>

        </div><br/>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password", placeholder="abc123" Password" required >
        </div>
        <button type="Login" class="btn btn-primary">Login</button>
      </form>

</form>

</div>
{% endif %}

{% endblock %}

